.event-container {
    margin: 10px;
}

.title {
cursor: pointer;
font-size: 18px;
color: #333;
margin-bottom: 5px;
}

.description {
margin-bottom: 10px;
font-size: 14px;
color: #555;
}

.btn {
font-size: 14px;
}
