/* Style for the map container */
#map {
    height: 400px; 
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #1fb035c0;
  }

/*SECTION LIST*/
.list{
    margin: 0 20%;
}

.title {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc;
}

.info {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc; 
}




