<!-- about-us.component.html -->

<div class="about-us-container">
    <h2>Kdo smo</h2>
    <p>
      Dobrodošli v naši spletni aplikaciji, kjer se srečujeta ljubezen do plezanja in želja po raziskovanju čudovitih
      plezališč v Sloveniji! Smo skupina strastnih študentov, ki smo se združili, da bi ustvarili nekaj posebnega za
      vse ljubitelje plezanja v naši prelepi deželi.
    </p>
    <p>
      Naša ekipa:
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="https://www.linkedin.com/in/ga%C5%A1per-azinovi%C4%8D-4a1388253/">
            <div class="card">
                <img src="/assets/public/images/group_members/gasper.jpg" alt="Member 1">
            <div class="text-center">
                <p><b>Gašper Azinovič</b></p>
            </div>
         </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://www.linkedin.com/in/jakob-lavri%C4%8D-943a3b188/">
            <div class="card">
                <img src="/assets/public/images/group_members/jakob.jpg" alt="Member 3">
            <div class="text-center">
                <p><b>Jakob Lavrič</b></p>
            </div>
         </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="https://www.linkedin.com/in/milanmandi%C4%87/">
            <div class="card">
                <img src="/assets/public/images/group_members/milan.jpg" alt="Member 3">
            <div class="text-center">
                <p><b>Milan Mandić</b></p>
            </div>
         </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a ><!-- linked in link -->
            <div class="card">
                <img src="/assets/public/images/group_members/urh.png" alt="Member 4"><!-- picture -->
            <div class="text-center">
                <p><u><b>Urh Rozman</b></u></p>
            </div>
         </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a><!-- linked in link -->
        <div class="card">
            <img src="/assets/public/images/group_members/domen.jpg" alt="Member 5"><!-- picture -->
            <div class="text-center">
                <p><b>Domen Zupančič</b></p>
            </div>
         </div>
        </a>
      </div>
    </div>
  
    <p>
      Naša aplikacija vam ponuja edinstveno priložnost, da raziskujete vsa plezališča po Sloveniji, pridobivate
      informacije o različnih plezalnih poteh ter delite svoje izkušnje z drugimi plezalci. Ne glede na to, ali ste
      začetnik ali izkušen alpinist, boste našli nekaj zase.
    </p>
    <p>
      Poleg tega vam omogočamo, da ustvarite svoj plezalni dnevnik, sledite svojemu napredku in si izmenjujete nasvete
      s skupnostjo. Naš cilj je ustvariti navdihujoče okolje za vse ljubitelje plezanja, kjer lahko delimo svojo
      strast, se povežemo in razvijemo svoje plezalne veščine.
    </p>
    <p>
      Zavezani smo k zagotavljanju najnovejših in najbolj zanesljivih informacij o plezališčih ter vam omogočamo, da
      se osredotočite na tisto, kar najbolj ljubite - plezanje.
    </p>
</div>
  