
<div class="d-flex align-items-center justify-content-center">
  <!-- If anyone ca do it wiothout inline styles that would be appriciated -->
  <div class="container mt-5 " style="max-width: 500px;">
  <div class="foreground p-4">
  <h4>Ponastavitev gesla</h4>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- Form fields for email and other necessary information -->
    <div class="mb-3">
      <label for="email" class="form-label">E-pošta</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
    </div>

    <!-- Add more form fields if needed -->
    <button type="submit" class="btn btn-success" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ loading ? 'Pošiljanje...' : 'Pošlji povezavo za ponastavitev gesla' }}
    </button>

    <!-- Display success message -->
    <div *ngIf="successMessage" class="text-success mt-2">{{ successMessage }}</div>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
  </form>
</div>
</div>
</div>