.password-reset {

    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
        
  }

  /* Add this style to customize the focus state of the input fields */
.form-control:focus {
  border-color: #28a745; /* Use the desired color (green) */
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Optional: Add a subtle box shadow */
}
