<!-- password-reset.component.html -->
<div class="d-flex align-items-center justify-content-center">
<!-- If anyone ca do it wiothout inline styles that would be appriciated -->
<div class="container mt-5 password-reset password-reset" style="max-width: 500px;">
<div class="foreground p-4">
  <h3>Reset Password</h3>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" id="newPassword" name="newPassword" class="form-control" formControlName="newPassword"
        required>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
        formControlName="confirmPassword" required>
    </div>
    <!-- Display success message -->
    <div *ngIf="successMessage" class="text-success mt-2">{{ successMessage }}</div>
    <!-- Display error message -->
    <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-success" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ loading ? 'Completing Reset...' : 'Reset Password' }}
    </button>


  </form>
</div>
</div>
</div>