/* Add your styling here */
.container {
    margin-top: 50px; /* Updated margin-top */
  }
  
  .background {
    background-color: white;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("/assets/public/images/graphics/Topography_Map.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .foreground {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    margin: 7px;
    padding: 6px;
    box-shadow: 2px 5px black;
  }
  
  .left-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  
  #signup_button {
    width: 100%;
  }
  
  #background_login {
    background-color: white;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("/assets/public/images/graphics/Topography_Map.png");
  }
  
  /* Add this style to customize the focus state of the input fields */
.form-control:focus {
  border-color: #28a745; /* Use the desired color (green) */
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Optional: Add a subtle box shadow */
}
